/* p {
    color: red;
    width: 500px;
    border: 1px solid black;
  }
   */
html {
    font-size: 10px;
    /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif;
    /* 这应该是你从 Google Fonts 得到的其余输出。 */
}

h1 {
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px; /*这个填充边距是什么意思，怎样实现的？*/
    border: 5px solid black;
}